body{
    background-color: #dae0e6;
    font-family: 'IBM Plex Sans', sans-serif;
}

.post{
    background-color: white;
    transition: 0.1s;
    border-radius: 5px;
    border: 1px solid #c0c6cc;
}

.r-section{
    /* background-color: white; */
}
ul{
    list-style: none;
}

.navbar-custom{
    background-color: #ffffff;
}

.post:hover{
    border: 1px solid #2980b9;
}

.padding-0{
    padding-right:0;
    padding-left:0;
    border-radius: 5px 0px 0px 5px;
    padding-top: 30px;

}

#element-padding{
    margin: 0;
}

.add{
    padding: 6px;
}

#vote{
    text-align: center !important; 
}

#r-posted ,.r-posted-time{
    color: gray;
}

.share-section{
    color: gray;
}

#arrow-up:hover{
    color: red;
}

#arrow-down:hover{
    color: blue;
}

.r-string:hover{
    text-decoration: underline;
}

#comments:hover{
    background-color: darkgrey;
} 
#share:hover{
    background-color: darkgrey;
} 
#save:hover{
    background-color: darkgrey;
}
#more:hover{
    background-color: darkgrey;
}

.post-info{
    font-size: 12px;
}
.try-message{
    font-size: 12px; 
}


.post-btn{
    width: 100%
}

.try-now{
    background-color: #ff4500;
}

.no-spacing{
    padding: 0; 
    margin: 0;
}
#drop-trans{
    background:transparent;
}

#nav-drop{
    text-align: left;
}

#main-nav{
    border-bottom: 1px solid whitesmoke;
}

#main-search{
    width: 50%;
}
#main-search #search-input{
    width: 80%
}



#main-drop{
    width: 20%;
}
#main-drop #dropdownMenuButton{
    width: 100%;
}

#nav-divider{
    width: 50%;
}
