body{
    background-color: #dae0e6;
}

.post-list{
    background-color: white;
}
.r-section{
    background-color: white;
}
ul{
    list-style: none;
}

.navbar-custom{
    background-color: #ffffff;
}
